[submodule ".registry"]
	path = .registry
	url = https://github.com/tjmahr/tjmahr.r-universe.dev
	branch = HEAD
[submodule "WrapRmd"]
	path = WrapRmd
	url = https://github.com/tjmahr/WrapRmd
[submodule "cleanrmd"]
	path = cleanrmd
	url = https://github.com/gadenbuie/cleanrmd
	registered = false
[submodule "huttenlocher1991"]
	path = huttenlocher1991
	url = https://github.com/tjmahr/huttenlocher1991
[submodule "iccbot"]
	path = iccbot
	url = https://github.com/tjmahr/iccbot
[submodule "littlelisteners"]
	path = littlelisteners
	url = https://github.com/tjmahr/littlelisteners
[submodule "notestar"]
	path = notestar
	url = https://github.com/tjmahr/notestar
[submodule "polypoly"]
	path = polypoly
	url = https://github.com/tjmahr/polypoly
[submodule "printy"]
	path = printy
	url = https://github.com/tjmahr/printy
[submodule "readtextgrid"]
	path = readtextgrid
	url = https://github.com/tjmahr/readtextgrid
[submodule "rprime"]
	path = rprime
	url = https://github.com/tjmahr/rprime
[submodule "solarizeddocx"]
	path = solarizeddocx
	url = https://github.com/tjmahr/solarizeddocx
[submodule "tjmisc"]
	path = tjmisc
	url = https://github.com/tjmahr/tjmisc
[submodule "wisclabmisc"]
	path = wisclabmisc
	url = https://github.com/tjmahr/wisclabmisc
